# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# macOS junk
.DS_Store
Library/

# android signing
android/keystore.properties
android/keystores/*.jks

# android signing
android/keystore.properties
android/keystores/*.jks

# allow android google services for EAS
!android/
!android/app/
!android/app/google-services.json
!android/app/src/
!android/app/src/google-services.json
!android/app/src/release/
!android/app/src/release/google-services.json

# Android build outputs
android/.gradle/
android/app/build/
android/app/.cxx/
android/app/.gradle/
**/*.apk
**/*.aab

# React Native / JS
node_modules/